body {
    background-color: rgb(222,222,222);
    font-family: Arial, Helvetica, sans-serif;
}

.externalContainer {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.profilePicture {
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgPosition {
    width: 300px;
    height: 300px;
    padding: 5px;
    /* border: 4.5px red solid; */
    background: linear-gradient(to top, rgb(12, 62, 200), rgb(187, 50, 25));
    border-radius: 50%;
}

.name {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

.profession {
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold   ;
}

.summary {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
}

.contactData {
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.1em;
}
